useDynLib(MotIV)

importFrom(graphics, par, plot)

importFrom(grid, dataViewport, gpar, grid.circle, grid.layout, grid.newpage, grid.polygon, grid.rect, grid.segments, grid.text, grid.xaxis, grid.yaxis, plotViewport, popViewport, pushViewport, unit, viewport)

importFrom(IRanges, IRanges, RangedData)

importFrom(lattice, panel.lines, panel.segments, panel.text)

importFrom(methods, "@<-", new)

importFrom(stats, density)

importFrom(utils, read.csv, read.table, write.table)

importMethodsFrom(IRanges,as.list, as.matrix, as.vector, cbind, "colnames<-", duplicated, lapply, mean, ncol, nrow, order, ranges, rbind, rev, "rownames<-", sapply, sd, sort, split, summary, unique, unlist, var, which)

importMethodsFrom(methods, show)

importClassesFrom(methods, ANY, character, data.frame, list, matrix, numeric)

importClassesFrom(rGADEM, gadem)

export(motifMatch, exportAsTransfacFile, generateDBScores, readDBScores, writeDBScores, getGademPWM, readGademPWMFile, readPWMfile, viewAlignments, summary, plot, split, filter, combine, makePWM, setFilter,  combine, trimPWMedge, exportAsRangedData, similar, viewMotifs, calculateModules)

exportClasses(motiv, matches, alignments, transcriptionFactor, filter)
exportMethods(show,summary, combine, filter, split)
