useDynLib(MotIV)

importFrom(graphics, par, plot)

importFrom(grid, dataViewport, gpar, grid.lines, grid.layout, grid.newpage, grid.polygon, grid.rect, grid.segments, grid.text, grid.xaxis, grid.yaxis, plotViewport, popViewport, pushViewport, unit, viewport)

importFrom(IRanges, IRanges, RangedData, start, end, as.data.frame)

importFrom(lattice, panel.lines, panel.segments, panel.text, panel.rect)

importFrom(methods, "@<-", new)

importFrom(stats, density)

importFrom(utils, read.csv, read.table, write.table, data)

importMethodsFrom(IRanges,as.list, as.matrix, as.vector, cbind, "colnames<-", duplicated, lapply, mean, ncol, nrow, order, ranges, rbind, rev, "rownames<-", sapply, sd, sort, split, summary, unique, unlist, var, which)

importMethodsFrom(rGADEM, nMotifs, getPWM)

importMethodsFrom(methods, show)

importClassesFrom(methods, ANY, character, data.frame, list, matrix, numeric)

importClassesFrom(rGADEM, gadem)

export(motifMatch, generateDBScores, readDBScores, writeDBScores, getGademPWM, readGademPWMFile, readPWMfile, viewAlignments, summary, plot, split, filter, makePWM, setFilter,  combineMotifs, trimPWMedge, exportAsRangedData, similarity, viewMotifs, occurences, cooccurences, getPWM, nMotifs,  motifDistances, motifHclust, motifCutree)

exportClasses(motiv, matches, alignments, transcriptionFactor, filter)
exportMethods(show,summary, combineMotifs, filter, split, exportAsTransfacFile, getPWM)
