useDynLib(MotIV)

import(methods)
import(BiocGenerics)
import(S4Vectors)
import(IRanges)

importFrom(graphics, par, plot)

importFrom(grid, dataViewport, gpar, grid.lines, grid.layout, grid.newpage, grid.polygon, grid.rect, grid.segments, grid.text, grid.xaxis, grid.yaxis, plotViewport, popViewport, pushViewport, unit, viewport)

importFrom(Biostrings, DNAString, reverseComplement)

importFrom(lattice, panel.lines, panel.segments, panel.text, panel.rect)

importFrom(utils, read.csv, read.table, write.table, data)

importMethodsFrom(rGADEM, nMotifs, getPWM)

importClassesFrom(rGADEM, gadem)

export(motifMatch, generateDBScores, readDBScores, writeDBScores, getGademPWM, readGademPWMFile, readPWMfile, viewAlignments, summary, plot, split, filter, makePWM, setFilter,  combineMotifs, trimPWMedge, exportAsRangedData, similarity, viewMotifs, occurences, cooccurences, getPWM, nMotifs,  motifDistances, motifHclust, motifCutree)

exportClasses(motiv, matches, alignments, transcriptionFactor, filter)
exportMethods(show, summary, as.data.frame, combineMotifs, filter, split, exportAsTransfacFile, getPWM)
